<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>随笔</title>
		<!-- Bootstrap core CSS -->
		<link href="__ROOT__/static/room/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="__ROOT__/static/room/css/jquery.bxslider.css" rel="stylesheet">
		<link href="__ROOT__/static/room/css/style.css" rel="stylesheet">
		<style>
			ul,ol,li{
				margin:0;/*设置外补白为0*/
				padding:0;/*设置内补白为0*/
			}
			#left{
				width:20%;
				height:30em;
				float:left;
				border:2px solid #F5F5F5;
			}
			#right{
				float:left;
				width:80%;
				min-height:40em;
			}
			.tit{
				width:100%;
				height:40px;
				border-bottom:1px solid #DDD;
				font-size:18px;
				line-height:40px;
				cursor:pointer;
			}
			.li{
				width:100%;
				font-weight:bold;
				font-size:20px;
				margin-top:1em;
				text-align: center;
				list-style-type:none;
				letter-spacing:1em;
				cursor:pointer;
			}
			.spa{
				display:none;
			}
			.date{
				float:right;
			}
			.hidid{
				display:none;
			}
			.li2{
				background-color:#626165;
				color:#FFF;
			}
		</style>
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">主页</a></li>
						<li><a href="{:url('index/diary')}">随笔</a></li>
						<li><a href="{:url('index/note')}">笔记分享</a></li>
						<li><a href="#contact">我的作品</a></li>
						<li><a href="{:url('index/aboutme')}">关于我</a></li>
						<li><a href="about.html">我的简历</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-reddit"></i></a></li>
					</ul>

				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>
		<!-- .container -->
		<div style="height:4em;"></div>
		<!-- 分类 -->
		<div id="left">
			<ul>
			{volist name="list" id="vo"}
				<li class="li"><span class="glyphicon glyphicon-tag"></span>{$vo.name}</li>
				<span class="spa">{$vo.id}</span>
			</ul>
			{/volist}
		</div>
		<div id="right">
		<!-- 循环开始 -->
		
			<!-- <div class="tit">
				&nbsp;&nbsp;
				<a href="{:url("index/rote")}">可惜不是你，陪我到最后</a>
			</div> -->
		
		<!-- 循环结束 -->
		</div>
		<!-- /.container -->

		<footer class="footer">

			<div class="footer-socials">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-reddit"></i></a>
			</div>

			<div class="footer-bottom">
				<i class="fa fa-copyright"></i> Copyright 2015. All rights reserved.<br>
				More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="__ROOT__/static/room/js/jquery.min.js"></script>
		<script src="__ROOT__/static/room/js/bootstrap.min.js"></script>
		<script src="__ROOT__/static/room/js/jquery.bxslider.js"></script>
		<script src="__ROOT__/static/room/js/mooz.scripts.min.js"></script>
	</body>
	<script type="text/javascript">
		$(function(){
			$('.li').click(function(){
				$(this).attr('class','li li2');
				$('.li').not($(this)).attr('class','li');
			});
		});
		$('.li').mouseover(function(){
			$(this).css('color','#FFF').css('backgroundColor','#626165');
		}).mouseout(function(){
			$(this).css('color','').css('backgroundColor','');
		});
		$('.li').click(function(){
			var id = $(this).next().html();
			 $.ajax({
				url:"{:url('index/findTit')}",
				type:"post",
				data:{id:id},
				dataType:"json",
				success:function(data){
					var str = '';
					$.each(data,function(idx,item){
						str += '<div class="tit">&nbsp;&nbsp;<a href="__ROOT__/index/index/rote?id='+item.id+'">'+item.title+'</a><span class="date">'+item.time+'</span><span class="hidid">'+item.id+'</span></div>';
					});
					$('#right').html(str);
				}
			});
		});
		$(function(){
			$('.li:first').click();
		});
	</script>
</html>